@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* Press Start 2P */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap');
/* DotGothic16 */


.bettingOverlay{
    position: absolute;
    height: calc(100vh - 155px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    pointer-events: none;
}


.bettingOverlay.show{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}


.background{
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 20px 20px;
    background: rgba(139, 69, 19, 0.7)
}

.bettingOptionButtons{
  display: flex;
  gap: 5px;
}

.bettingOptionButtons span{
  font-size: 20px;
  color: #efefef;
  justify-content: center;
  align-self: center;  
}

.bettingOptionButtons img{
  width: 70px;
  /* height: 70px; */
  opacity: 0.7;
  cursor: pointer;
}

.bettingOptionButtons img:hover{
  opacity: 1;
}

.chips {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.chip {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 0 10px 0 10px;
}

.chip img {
  width: 100%;
  height: 100%;
  cursor: pointer;

}

.denomination {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;   
  font-family: 'Press Start 2P';
}

.betting-area {
  margin-top: 20px;
  padding: 10px;
  /* border: 2px solid #fff; */
  /* width: 100px;
  height: 100px; */
  color: white;
}

.stacked-chips {
  position: relative;
  width: 50px;
  height: 100px;
  margin: 0 auto;
}

.stacked-chip {
  position: absolute;
  width: 50px;
  height: 25px;
}

.bet-amount {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

#confirm-bet {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

@keyframes moveToBettingArea {
  from {
    transform: translate(var(--start-x), var(--start-y));
    opacity: 1;
  }
  to {
    transform: translate(var(--end-x), var(--end-y));
    opacity: 0;
  }
}

.animate-chip {
  position: absolute;
  animation: moveToBettingArea 0.3s forwards;
}

/* to blur chips (when balance < chip value) */
.blur{
  opacity: 0.5 !important;
  cursor: default !important;
}









/* timer */
.timer-container {
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  position: absolute;
  font-size: 42px;
  color: white;
  font-family: 'DotGothic16', sans-serif;
  z-index: 1;
}

.progress-ring__circle {
  transition: stroke-dashoffset 1s linear;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.bettingText {
  font-family: 'Press Start 2P';
  color: white;
}


