@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); 
/* VT323 */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* Press Start 2P */

body {
    margin: auto;
    background-color: #337233;
    font-family: Arial, sans-serif;
}

/* Chat [Start]*/
.chat-window {
    position: fixed;
    top: -25px;
    width: 30vw;
    height: 340px;
    background: r   gba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    opacity: 0.3; /* Initial opacity */
    transition: opacity 0.5s;
    z-index: 1;
}

.chat-window.hidden {
    opacity: 0; /* Hidden state */
    pointer-events: none; /* Prevent interactions when hidden */
}

.chat-window:hover {
    opacity: 1;
}

.chat-content {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.chatWrapper{
    display: flex;
}

.chat-input {
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #444;
    background-color: rgba(0, 0, 0, 00.5s);
}

.chat-input:focus{
    outline: none;
}

.chatButton{
    padding: 10px 15px;
    cursor: pointer;
}
/* Chat [End]*/



/* Main Table [Start]*/
.table {
    margin: 25px auto 50px;
    width: 90vw;
    height: calc(100vh - 155px);
    position: relative;
    background-color: #228B22;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Main Table [End]*/


/* Banker Section [Start]*/
.bankers {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.banker{
    width: 130px;
    border-radius: 5px;
    position: relative;
}

.bankerProfile{
    background-color: #f9f9f9;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 130px;
    margin: 10px 0;
}
/* Banker Section [End]*/

/* Playing Area (Centre-Right) [Start]*/
.middleArea {
    position: relative; 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.third-column {
    grid-column: 9 / span 4; 
}
/* Playing Area (Centre) [End] */


/* All User profiles (Icons + Username) [Start] */
.bankerIcon, .playerIcon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.bankerUsername, .playerUsername {
    margin-top: 5px;
    color: black;
    font-weight: bold;
    font-size: 14px;
    margin: 0 auto;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 130px;
    margin-top: 10px;
}
/* All User profiles (Icons + Username) [End] */



/* Card Value (Arrow) [Start] */
.arrow-container {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', monospace; /* Example of a retro font */
    margin-bottom: 15px;
    bottom: 60px;
}

.arrow-label {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: 2px solid yellow; /* Pixelated border */
    font-size: 18px;
    text-align: center;
}

.arrow {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid yellow; /* Retro yellow arrow */
}

/* Card Value (Arrow) [End] */


/* Player section [Start] */

/* Card Stacking (for back facing cards) [Start] */
.stacked{ 
    position: absolute; /* position absolute to stack cards */
} 
.emptyDiv{  height: 180px;} /* for alligining margins for cards */
/* Card Stacking (for back facing cards) [End]*/

.players {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.player {
    width: 130px;
    border-radius: 5px;
    position: relative;
}

.betAmount, .cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards img{
    height: 150px;
}

/* Player section [Start] */


/* Footer [Start] */
.gameFooter {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8B4513;
    margin-top: -5px;
    border-top: 5px solid black;
}

.pixelButton{
    text-align: center;
    display: inline-block;
    margin: 10px auto;
    font-weight: bold;
    padding: 10px 0 10px 0;
    width: 120px;
    color: gray;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
}

.pixelButton:active {
    box-shadow: none;
    position: relative;
    top: .2em;
}


.balanceInfo{
    display: flex;
}
.balance, .betAmount{
    color: white;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    background-color: #61300D;
    padding: 10px 0px;
    margin: 0 10px;
    border-radius: 5px;
    width: 200px;
}


.subButton{
    color: white;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    width: 200px;
    background-color: #61300D;
    padding: 10px 20px;
    margin: 0 20px;
    border-radius: 5px;
}

.subButton{
    cursor: pointer;
}

/* Footer [End] */



.CardPilePlaceHolder{
    top: 0px;
    position: absolute;
    height: 150px;
    width: 102px;
    background-image: url('images/pixelCards/Back1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#cardPileImg{
    top: 0px;
    position: absolute
}


/* banner */
.banner {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    padding: 20px 0;
    font-family: cursive;
    font-size: 24px;
    text-align: center;
    background: linear-gradient(to right, rgba(144, 238, 144, 0), lightgreen, rgba(144, 238, 144, 0));
    color: black;
    font-weight: bold;
    display: none;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in, opacity 1.5s ease-out;

}

.win {
    color: darkgreen;
}

.lose {
    color: darkred;
}