body {
    margin: auto;
    background-color: #337233;
    font-family: Arial, sans-serif;
}

.table {
    margin: 25px auto 50px;
    width: 90vw;
    height: calc(100vh - 155px);
    position: relative;
    background-color: #228B22;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banker {
    width: 130px;
    height: 170px;
    margin: 0 auto;
}

.bankerProfile{
    background-color: #f9f9f9;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 130px;
    margin: 10px 0;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 130px;
    margin-top: 10px;
    
}

.bankerIcon, .playerIcon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.bankerUsername, .playerUsername {
    margin-top: 5px;
    color: black;
    font-weight: bold;
}

.middleArea {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.players {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.player {
    width: 130px;
    height: 170px;
    border-radius: 5px;
}

.betAmount, .cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards img{
    height: 180px;
}

.playerUsername {
    font-size: 14px;
    margin: 0 auto;
}

.gameFooter {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8B4513;
}

.balance, .chat {
    background-color: #FFD700;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}

.pixelButton{
    text-align: center;
    display: inline-block;
    margin: 10px auto;
    font-weight: bold;
    padding: 10px 0 10px 0;
    width: 120px;
    color: gray;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
}

.pixelButton:active {
    box-shadow: none;
    position: relative;
    top: .2em;
}


.balance {
    color: white;
    font-weight: bold;
}
